.nav-list > li {
    font-size: 14px;
    line-height: 16px;
}
.nav-list > li > a{
    color: #333;
}
.nav-header > span{
    font-size: 18px;
    line-height: 30px;
    font-weight: bold;
    color: #0F64AC;
}